header {
    background-color: blue;
    text-align: center;
    padding: 15px;
}

#city-button-container {
    padding: 10px;
}

#city-button-container .btn {
    margin: 6px;
}

#forecast-card-container .card {
    min-width: 200px;
}